
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Clone</title>
</head>

<body>
    <h1>
        Create new listing :  
    </h1>
    <form method="POST" action="/listings">
        Title : 
        <input type="text" name="title" placeholder="Enter title..">
        <br><br>
        Description :
        <textarea name="description" col="5" row="5">
            Enter desrption..
        </textarea>
        <br><br>
        Price :
        <input type="number" name="price" placeholder="eg.999/night">
        <br><br>
        Location :
        <input type="text" name="location" placeholder="eg.Mumbai, Chennai...">
        <br><br>
        Country :
        <input type="text" name="country" placeholder="eg.India, Germany...">
        <br><br>
        <button type="submit">Save</button>
    </form>
</body>

</html>