<%- layout("/layouts/boilerplate") %>

    <body>
       <div class="row col-8 offset-2 mt-5">
        <h2>
            Create new listing :
        </h2>
         <form class="" method="POST" action="/listings">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Enter title..">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="description" class="form-control" placeholder="Description.."></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" name="image" class="form-control" placeholder="Enter Image/URL..">
            </div>
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" class="form-control" placeholder="Enter price..">
            </div>
            <div class="mb-3 col-4">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="location" class="form-control" placeholder="Enter location..">
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="country" class="form-control" placeholder="Enter country..">
            </div>
            <button type="submit" class="btn mb-4 btn-dark">Save</button>
        </form>
       </div>
    </body>

    </html>