body {
  background-color: pink;
  color: #222222;
}

.navbar {
  min-height: 5rem;
  background-color: white;
}

.nav-link {
  color: #222222 !important;
  border-radius: 20px;
  margin-right: 10px;
}

.navbar-brand i {
  font-size: 1.5rem;
  color: #e04e53;
}

.footer{
    height: 8rem;
    color: #222222;
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb{
    margin-bottom: 10px;
}

.social-links i{
    cursor: pointer;
    font-size: 1.5rem;
}

.social-links i:hover{
    color:#e04e53;
}

.terms a{
    text-decoration: none;
    color: #222222;
}

.terms a:hover{
    text-decoration: underline;
}

.card{
  border: none !important;
}

.listing-link{
  text-decoration: none;
}

.container{
  min-height: 100vh;
}

.listing-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px;
}

.listing-card {
  overflow: hidden;
}

.card-body{
  padding-left: 0px !important;
  padding-top: 0px !important;
}